* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3c96ed;
}

body {
  --background: #fafafa;

  background-color: var(--background);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

#wrapper {
  height: 100vh;
}

#container {
  margin: 0 auto;
  min-height: 100%;
  width: 800px;
  display: flex;
  align-items: center;
}

.column {
  flex-grow: 1;
  width: 50%;
}

.left {
  background-image: url("./images/instagram26.png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  margin-bottom: 50px;
}

.right {
  padding-left: 20px;
}

.login-panel {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 20px 0;
}

.logo-img {
  width: 120px;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

input[type="password"],
input[type="text"] {
  background-color: #ffffff;
  border: 1px solid rgb(236, 234, 234);
  height: 40px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  width: 100%;
  color: #000000;
}

input[type="password"]::placeholder,
input[type="text"]::placeholder {
  color: rgb(115, 115, 115);
}

input[type="password"]:focus,
input[type="text"]:focus {
  outline: 0;
  border: 1px solid #a1a1a1;
}

input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  height: 30px;
  border: 0;
  background-color: #3c96ed;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.infobox {
  background-color: #fff;
  height: 60px;
  border: 1px solid rgb(236, 234, 234);
  margin: 10px auto 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox p a {
  font-weight: bold;
  user-select: none;
}

.get-app-panel {
  margin-top: 20px;
  text-align: center;
}

.app-buttons {
  margin-top: 16px;
}

.app-buttons img {
  height: 40px;
  padding: 0 2px;
}

footer {
  text-align: center;
  height: 50px;
  margin-top: -50px;
}

footer a {
  color: rgb(115, 115, 115);
  text-transform: uppercase;
  margin-right: 8px;
}

.text-small {
  font-size: 12px;
  font-weight: bold;
  color: rgb(115, 115, 115);
  text-transform: uppercase;
  padding-left: 20px;
  display: inline-block;
}

/*REGISTER PAGE*/

#container-signup {
  margin: 0 auto;
  min-height: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.message {
  margin: 10px 70px;
}

.message span {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(115, 115, 115);
}

.btn-facebook {
  width: 100%;
  margin: 10px 0;
  height: 35px;
  background-color: #3c96ed;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.line {
  height: 1px;
  background-color: rgb(115, 115, 115);
  width: 43%;
}

.div-tag {
  font-weight: bold;
  margin: 0 2%;
  color: #8e8e8e;
  user-select: none;
}

/*END REGISTER PAGE*/

@media (max-width: 850px) {
  .left {
    display: none;
  }

  #container {
    width: 60%;
  }

  .right {
    padding-left: 0;
  }

  @media (max-width: 490px) {
    #container {
      width: 90%;
    }

    #container-signup {
      width: 90%;
    }

    input[type="password"],
    input[type="text"],
    input[type="submit"] {
      width: 100%;
    }

    .message {
      margin: 10px 25px;
    }
  }
}
